:root {
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #000012d4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000012;
}

#root {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbars but keep functionality */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}